<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/cssalert.css" />
  </head>
  <body>
    <header class="header">
      <div class="header__top">
        <h4 class="header__logo">Mi sitio web</h4>
        <% if (loggeo){ %> 
          <p> <%=loggeo.email %>
          </p>
          <a href="/logoutadmin"> salir </a>
          <% } %> 
      </div>
      <nav class="nav">
        <ul class="nav__ul">

          <li><a href="/secciones/inicio" class="nav__item-link">Inicio</a></li>
          <li><a href="/secciones/fotos" class="nav__item-link">Fotos</a></li>
          <li><a href="/secciones/ilustraciones" class="nav__item-link">Ilustraciones</a></li>
          <li><a href="/secciones/juegosdemesa" class="nav__item-link">Juegos de mesa</a></li>
          <li><a href="/secciones/videojuegos" class="nav__item-link">Videojuegos</a></li>
         
        </ul>
      </nav>
    </header>

   
      

