<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <div class="header__top header__top-color">
        <h4 class="header__logo" style="margin: 0; font-size: 14pt">
          Panel administrativo
        </h4>
        <div class="header__datos-user">
          <% if (loggeo){ %>
            <p style="margin: 0"><%=loggeo.email %></p>
            <img
              src="/images/1616182132762_perfil3.jpg"
              alt=""
              class="header__perfil"
            />
            <nav id="logout">
              <ul>
                <li><a href="#"><box-icon name="chevron-down" type="solid"></box-icon></a>
                  <ul>
                    <li><a href="/logoutadmin"> salir </a></li>
                  </ul>
              </ul>
            </nav>
          <!-- <a href="/logoutadmin"> salir </a> -->
          <% } %>
        </div>
      </div>
    </header>
  </body>
</html>
