<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/cssalert.css" />
  </head>
  <body>
    <header class="header">
      <div class="header__top">
        <h4 class="header__logo">Mi sitio web</h4>
        <p>Usuario 1</p>
      </div>
      <nav class="nav">
        <ul class="nav__ul">
          <li><a href="#" class="nav__item-link">Inicio</a></li>
          <li><a href="#" class="nav__item-link">Fotos</a></li>
          <li><a href="#" class="nav__item-link">Ilustrddddddddaciones</a></li>
          <li><a href="#" class="nav__item-link">Jiegos de mesa</a></li>
          <li><a href="#" class="nav__item-link">Videojuegos</a></li>
        </ul>
      </nav>
    </header>
