<%- include ../layout/frontOffice/header.ejs %> 
<body>
    <div class="container">
        <div class="fotos__container-cards">
            <div class="fotos__card">
                <img src="https://images.pexels.com/photos/326055/pexels-photo-326055.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" class="fotos__img">
            </div>
            <div class="fotos__card">
                <img src="https://images.pexels.com/photos/1165982/pexels-photo-1165982.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" class="fotos__img">
            </div>
            <div class="fotos__card">
                <img src="https://images.pexels.com/photos/1545590/pexels-photo-1545590.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" class="fotos__img">
            </div>
            <div class="fotos__card">
                <img src="https://images.pexels.com/photos/1559259/pexels-photo-1559259.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" class="fotos__img">
            </div>
            <div class="fotos__card">
                <img src="https://images.pexels.com/photos/3257307/pexels-photo-3257307.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" class="fotos__img">
            </div>
            <div class="fotos__card">
                <img src="https://images.pexels.com/photos/4388593/pexels-photo-4388593.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" class="fotos__img">
            </div>
            <div class="fotos__card">
                <img src="https://images.pexels.com/photos/5686476/pexels-photo-5686476.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" class="fotos__img">
            </div>
            <div class="fotos__card">
                <img src="https://images.pexels.com/photos/3318620/pexels-photo-3318620.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" class="fotos__img">
            </div>
            <div class="fotos__card">
                <img src="https://images.pexels.com/photos/4256852/pexels-photo-4256852.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" class="fotos__img">
            </div>
            <div class="fotos__card">
                <img src="https://images.pexels.com/photos/3196536/pexels-photo-3196536.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" class="fotos__img">
            </div>
            <div class="fotos__card">
                <img src="https://images.pexels.com/photos/326055/pexels-photo-326055.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" class="fotos__img">
            </div>
            <div class="fotos__card">
                <img src="https://images.pexels.com/photos/1165982/pexels-photo-1165982.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" class="fotos__img">
            </div>
            <div class="fotos__card">
                <img src="https://images.pexels.com/photos/1545590/pexels-photo-1545590.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" class="fotos__img">
            </div>
            <div class="fotos__card">
                <img src="https://images.pexels.com/photos/1559259/pexels-photo-1559259.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" class="fotos__img">
            </div>
            <div class="fotos__card">
                <img src="https://images.pexels.com/photos/3257307/pexels-photo-3257307.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" class="fotos__img">
            </div>
            <div class="fotos__card">
                <img src="https://images.pexels.com/photos/4388593/pexels-photo-4388593.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" class="fotos__img">
            </div>
            <div class="fotos__card">
                <img src="https://images.pexels.com/photos/5686476/pexels-photo-5686476.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" class="fotos__img">
            </div>
            <div class="fotos__card">
                <img src="https://images.pexels.com/photos/3318620/pexels-photo-3318620.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" class="fotos__img">
            </div>
            <div class="fotos__card">
                <img src="https://images.pexels.com/photos/4256852/pexels-photo-4256852.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" class="fotos__img">
            </div>
            <div class="fotos__card">
                <img src="https://images.pexels.com/photos/3196536/pexels-photo-3196536.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" class="fotos__img">
            </div>
            <div class="fotos__card">
                <img src="https://images.pexels.com/photos/5686476/pexels-photo-5686476.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" class="fotos__img">
            </div>
            <div class="fotos__card">
                <img src="https://images.pexels.com/photos/3318620/pexels-photo-3318620.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" class="fotos__img">
            </div>
            <div class="fotos__card">
                <img src="https://images.pexels.com/photos/4256852/pexels-photo-4256852.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" class="fotos__img">
            </div>
            <div class="fotos__card">
                <img src="https://images.pexels.com/photos/3196536/pexels-photo-3196536.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" class="fotos__img">
            </div>
        </div>
    </div>
</body>
</html>