<%- include ../layout/frontOffice/header.ejs %> 
<body>
    <div class="container">
        <div class="ilustraciones__container-cards">
            <div class="ilustraciones__card">
                <img src="https://graphicmama.com/blog/wp-content/themes/gmblog/images/temp/hippo-ballet.png" alt="" class="ilustraciones__img">
                <p class="ilustraciones__title">Lorem ipsum dolor</p>
                <p class="lustraciones__descripcion">Lorem ipsum dolor sit amet cons ecte tur, adipisicing elit.</p>
                <input type="button" value="Ver m치s" class="ilustraciones__boton">
            </div>
            <div class="ilustraciones__card">
                <img src="https://graphicmama.com/blog/wp-content/themes/gmblog/images/temp/hippo-ballet.png" alt="" class="ilustraciones__img">
                <p class="ilustraciones__title">Lorem ipsum dolor</p>
                <p class="lustraciones__descripcion">Lorem ipsum dolor sit amet cons ecte tur, adipisicing elit.</p>
                <input type="button" value="Ver m치s" class="ilustraciones__boton">
            </div>
            <div class="ilustraciones__card">
                <img src="https://graphicmama.com/blog/wp-content/themes/gmblog/images/temp/hippo-ballet.png" alt="" class="ilustraciones__img">
                <p class="ilustraciones__title">Lorem ipsum dolor</p>
                <p class="lustraciones__descripcion">Lorem ipsum dolor sit amet cons ecte tur, adipisicing elit.</p>
                <input type="button" value="Ver m치s" class="ilustraciones__boton">
            </div>
            <div class="ilustraciones__card">
                <img src="https://graphicmama.com/blog/wp-content/themes/gmblog/images/temp/hippo-ballet.png" alt="" class="ilustraciones__img">
                <p class="ilustraciones__title">Lorem ipsum dolor</p>
                <p class="lustraciones__descripcion">Lorem ipsum dolor sit amet cons ecte tur, adipisicing elit.</p>
                <input type="button" value="Ver m치s" class="ilustraciones__boton">
            </div>
        </div>
    </div>
</body>
</html>