<%- include ../layout/frontOffice/header.ejs %>
<% if (ilustracionesPermiso==1){ %>
    <body>
        <div class="container">
            <h1 class="title-section">Ilustraciones del día</h1>
            <div class="ilustraciones__container-cards">
                <div class="ilustraciones__card">
                    <img src="https://graphicmama.com/blog/wp-content/themes/gmblog/images/temp/hippo-ballet.png" alt=""
                        class="ilustraciones__img">
                    <p class="ilustraciones__title">Hipo bailarina</p>
                    <p class="lustraciones__descripcion">Lorem ipsum dolor sit amet cons ecte tur, adipisicing elit.</p>
                    <input type="button" value="Ver más" class="ilustraciones__boton">
                </div>
                <div class="ilustraciones__card">
                    <img src="https://images.vexels.com/media/users/3/145048/isolated/preview/ba57ce0728042435b2cdad045e8815e2-ilustraci-oacute-n-de-diablo-de-cara-de-monstruo-by-vexels.png"
                        alt="" class="ilustraciones__img">
                    <p class="ilustraciones__title">Diablo de cara de monstruo</p>
                    <p class="lustraciones__descripcion">Lorem ipsum dolor sit amet cons ecte tur, adipisicing elit.</p>
                    <input type="button" value="Ver más" class="ilustraciones__boton">
                </div>
                <div class="ilustraciones__card">
                    <img src="https://images.vexels.com/media/users/3/158702/isolated/preview/c9fe37bef36ac90be6873455ea0f21c4-ilustraci-oacute-n-de-maestro-l-aacute-piz-by-vexels.png"
                        alt="" class="ilustraciones__img">
                    <p class="ilustraciones__title">Maestro lápiz</p>
                    <p class="lustraciones__descripcion">Lorem ipsum dolor sit amet cons ecte tur, adipisicing elit.</p>
                    <input type="button" value="Ver más" class="ilustraciones__boton">
                </div>
                <div class="ilustraciones__card">
                    <img src="https://images.vexels.com/media/users/3/145051/isolated/preview/e27a51cace4b24271dd56a14edd4c598-ilustraci-oacute-n-de-cr-aacute-neo-de-cara-de-monstruo-by-vexels.png"
                        alt="" class="ilustraciones__img">
                    <p class="ilustraciones__title">Cráneo de cara de monstruo</p>
                    <p class="lustraciones__descripcion">Lorem ipsum dolor sit amet cons ecte tur, adipisicing elit.</p>
                    <input type="button" value="Ver más" class="ilustraciones__boton">
                </div>


                <div class="ilustraciones__card">
                    <img src="https://images.vexels.com/media/users/3/145046/isolated/preview/bcf701694145b007a036c61493a3a743-ilustraci-oacute-n-de-boca-grande-de-cara-de-monstruo-by-vexels.png"
                        alt="" class="ilustraciones__img">
                    <p class="ilustraciones__title">Monstergreen</p>
                    <p class="lustraciones__descripcion">Lorem ipsum dolor sit amet cons ecte tur, adipisicing elit.</p>
                    <input type="button" value="Ver más" class="ilustraciones__boton">
                </div>
                <div class="ilustraciones__card">
                    <img src="https://images.vexels.com/media/users/3/157788/isolated/preview/939c4e78a3a86769f6183946a2183847-doodle-de-monstruo-by-vexels.png"
                        alt="" class="ilustraciones__img">
                    <p class="ilustraciones__title">Doodle de monstruo</p>
                    <p class="lustraciones__descripcion">Lorem ipsum dolor sit amet cons ecte tur, adipisicing elit.</p>
                    <input type="button" value="Ver más" class="ilustraciones__boton">
                </div>
                <div class="ilustraciones__card">
                    <img src="https://cdn.pixabay.com/photo/2016/03/22/17/28/transparent-background-1273346_1280.png"
                        alt="" class="ilustraciones__img">
                    <p class="ilustraciones__title">Pulpín</p>
                    <p class="lustraciones__descripcion">Lorem ipsum dolor sit amet cons ecte tur, adipisicing elit.</p>
                    <input type="button" value="Ver más" class="ilustraciones__boton">
                </div>
                <div class="ilustraciones__card">
                    <img src="https://www.megaidea.net/wp-content/uploads/2019/10/Maria-Kawaii.png" alt=""
                        class="ilustraciones__img">
                    <p class="ilustraciones__title">Fridita</p>
                    <p class="lustraciones__descripcion">Lorem ipsum dolor sit amet cons ecte tur, adipisicing elit.</p>
                    <input type="button" value="Ver más" class="ilustraciones__boton">
                </div>
            </div>
        </div>
      
        <%- include ../layout/frontOffice/footer.ejs %>
        <% } %>