<%- include ../layout/frontOffice/header.ejs %>
    <% if (inicioPermiso==1){ %>

        <body>
            <div class="container">
                <div class="inicio__container-cards">
                    <div>
                        <h1 class="inicio__h1">Bienvenido, gracias por estar aquí</h1><br>
                        <h4 class="inicio__h4">Disfruta de nuestras secciones de nuestro sitio</h4>
                    </div>
                    <img src="https://chrono.tech/assets/img/main/worked-man.svg" alt="" class="inicio__img">
                </div>
                <div class="inicio__cards-sections">
                    <div class="inicio__card">
                        <img src="https://kinsta.com/wp-content/uploads/2020/05/Meow-Gallery-e1584739280419-1.jpg" alt=""
                            class="inicio__img-card">
                        <p class="inicio__texto">Fotos</p>
                    </div>
                    <div class="inicio__card">
                        <img src="https://previews.123rf.com/images/aliasching/aliasching1706/aliasching170600059/80564225-doodle-collage-elementos-de-dise%C3%B1o-de-personajes-de-dibujos-animados.jpg"
                            alt="" class="inicio__img-card">
                        <p class="inicio__texto">Ilustraciones</p>
                    </div>
                    <div class="inicio__card">
                        <img src="https://cnnespanol.cnn.com/wp-content/uploads/2020/04/200421100635-underscored-best-board-games-lead.jpg?quality=100&strip=info"
                            alt="" class="inicio__img-card">
                        <p class="inicio__texto">Juegos de mesa</p>
                    </div>
                    <div class="inicio__card">
                        <img src="https://live.staticflickr.com/65535/48766819906_206ebfae21_o.jpg" alt=""
                            class="inicio__img-card">
                        <p class="inicio__texto">Videojuegos</p>
                    </div>
                </div>
            </div>
     
        <%- include ../layout/frontOffice/footer.ejs %>
        <% } %>