<%- include ../layout/frontOffice/header.ejs %>
<% if (juegosdemesaPermiso==1){ %>
    <body>
        <div class="container">
            <h1 class="title-section">Juegos de mesa más recomendados</h1>
            <div class="jugosmesa__container-cards">
                <div class="juegosmesa__card">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/81T7hKpWNNL._AC_SL1500_.jpg" alt=""
                        class="juegosmesa__img">
                    <p class="juegosmesa__title">Monopoly</p>
                    <p class="juegosmesa__descricion">Hasbro Gaming Juego de Mesa Monopoly Clásico</p>
                </div>
                <div class="juegosmesa__card">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/81svEoh4i5L._AC_SL1500_.jpg" alt=""
                        class="juegosmesa__img">
                    <p class="juegosmesa__title">UNO</p>
                    <p class="juegosmesa__descricion">Uno Cartas</p>
                </div>
                <div class="juegosmesa__card">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/81fXfy-tPhL._AC_SL1500_.jpg" alt=""
                        class="juegosmesa__img">
                    <p class="juegosmesa__title">Jenga </p>
                    <p class="juegosmesa__descricion">Jenga Clasico</p>
                </div>
                <div class="juegosmesa__card">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/81ZUP62OO9L._AC_SL1500_.jpg" alt=""
                        class="juegosmesa__img">
                    <p class="juegosmesa__title">Turista Mundial</p>
                    <p class="juegosmesa__descricion">Fotorama Juego de Mesa Turista Mundial, Grande</p>
                </div>
                <div class="juegosmesa__card">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/81nbtrRJ2WL._AC_SL1500_.jpg" alt=""
                        class="juegosmesa__img">
                    <p class="juegosmesa__title">Juego Basta</p>
                    <p class="juegosmesa__descricion">Fotorama Juego Basta, unitalla, Multicolor</p>
                </div>
                <div class="juegosmesa__card">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/81T7hKpWNNL._AC_SL1500_.jpg" alt=""
                        class="juegosmesa__img">
                    <p class="juegosmesa__title">Monopoly</p>
                    <p class="juegosmesa__descricion">Hasbro Gaming Juego de Mesa Monopoly Clásico</p>
                </div>
                <div class="juegosmesa__card">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/81svEoh4i5L._AC_SL1500_.jpg" alt=""
                        class="juegosmesa__img">
                    <p class="juegosmesa__title">UNO</p>
                    <p class="juegosmesa__descricion">Uno Cartas</p>
                </div>
                <div class="juegosmesa__card">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/81fXfy-tPhL._AC_SL1500_.jpg" alt=""
                        class="juegosmesa__img">
                    <p class="juegosmesa__title">Jenga </p>
                    <p class="juegosmesa__descricion">Jenga Clasico</p>
                </div>
                <div class="juegosmesa__card">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/81ZUP62OO9L._AC_SL1500_.jpg" alt=""
                        class="juegosmesa__img">
                    <p class="juegosmesa__title">Turista Mundial</p>
                    <p class="juegosmesa__descricion">Fotorama Juego de Mesa Turista Mundial, Grande</p>
                </div>
                <div class="juegosmesa__card">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/81nbtrRJ2WL._AC_SL1500_.jpg" alt=""
                        class="juegosmesa__img">
                    <p class="juegosmesa__title">Juego Basta</p>
                    <p class="juegosmesa__descricion">Fotorama Juego Basta, unitalla, Multicolor</p>
                </div>

            </div>
        </div>
        <br/>
        <br/>
        <br/>
        
        <%- include ../layout/frontOffice/footer.ejs %>
        <% } %>