<%- include ../layout/frontOffice/header.ejs %>

    <body>
        <div class="container">
            <div class="container">
                <h1 class="title-section">Videojuegos con ultimas actualizaciones</h1>
                <div class="videojuegos__container-cards">
                    <div class="juegosmesa__card">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/91T0XQv8gEL._AC_SL1500_.jpg" alt=""
                            class="juegosmesa__img">
                        <p class="juegosmesa__title">Grand Theft Auto V</p>
                        <p class="juegosmesa__descricion">Entra en la vida de los criminales en Grand Theft Auto 5 en
                            Xbox One mientras arriesgan todo en una serie de peligrosos robos. </p>
                        <input type="button" value="Ir al juego" class="videojuegos__boton">
                    </div>
                    <div class="juegosmesa__card">
                        <img src="https://cdn2.unrealengine.com/14br-consoles-1920x1080-wlogo-1920x1080-432974386.jpg"
                            alt="" class="juegosmesa__img">
                        <p class="juegosmesa__title">Fortnite</p>
                        <p class="juegosmesa__descricion">Fortnite es un Battle Royale gratuito con un montón de modos
                            de juego diferentes para todo tipo de jugadores. </p>
                        <input type="button" value="Ir al juego" class="videojuegos__boton">
                    </div>
                    <div class="juegosmesa__card">
                        <img src="https://e00-marca.uecdn.es/assets/multimedia/imagenes/2019/12/20/15768710649696.jpg"
                            alt="" class="juegosmesa__img">
                        <p class="juegosmesa__title">Minecraft</p>
                        <p class="juegosmesa__descricion">Minecraft es un videojuego de construcción, de tipo «mundo
                            abierto» o sandbox creado originalmente por el sueco Markus Persson, ​ y posteriormente
                            desarrollado por su empresa, Mojang Studios.</p>
                        <input type="button" value="Ir al juego" class="videojuegos__boton">
                    </div>
                    <div class="juegosmesa__card">
                        <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2020/02/cyberpunk-2077-portada-ficha-01-1877357.jpg?itok=QnLLgl2D"
                            alt="" class="juegosmesa__img">
                        <p class="juegosmesa__title">Cyberpunk 2077</p>
                        <p class="juegosmesa__descricion">Adéntrate en el mundo de Cyberpunk 2077, un RPG de mundo
                            abierto ambientado en un futuro siniestro de CD PROJEKT RED.</p>
                        <input type="button" value="Ir al juego" class="videojuegos__boton">
                    </div>
                    <div class="juegosmesa__card">
                        <img src="https://los40es00.epimg.net/los40/imagenes/2020/07/23/videojuegos/1595516362_784660_1595516856_noticia_normal_amp.jpg"
                            alt="" class="juegosmesa__img">
                        <p class="juegosmesa__title">FIFA 21</p>
                        <p class="juegosmesa__descricion">FIFA 21 es un videojuego de simulación de fútbol del año 2020
                            disponible para Microsoft Windows, PlayStation 4, Xbox One y Nintendo Switch </p>
                        <input type="button" value="Ir al juego" class="videojuegos__boton">
                    </div>
                    <div class="juegosmesa__card">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/91T0XQv8gEL._AC_SL1500_.jpg" alt=""
                            class="juegosmesa__img">
                        <p class="juegosmesa__title">Grand Theft Auto V</p>
                        <p class="juegosmesa__descricion">Entra en la vida de los criminales en Grand Theft Auto 5 en
                            Xbox One mientras arriesgan todo en una serie de peligrosos robos. </p>
                        <input type="button" value="Ir al juego" class="videojuegos__boton">
                    </div>
                    <div class="juegosmesa__card">
                        <img src="https://cdn2.unrealengine.com/14br-consoles-1920x1080-wlogo-1920x1080-432974386.jpg"
                            alt="" class="juegosmesa__img">
                        <p class="juegosmesa__title">Fortnite</p>
                        <p class="juegosmesa__descricion">Fortnite es un Battle Royale gratuito con un montón de modos
                            de juego diferentes para todo tipo de jugadores. </p>
                        <input type="button" value="Ir al juego" class="videojuegos__boton">
                    </div>
                    <div class="juegosmesa__card">
                        <img src="https://e00-marca.uecdn.es/assets/multimedia/imagenes/2019/12/20/15768710649696.jpg"
                            alt="" class="juegosmesa__img">
                        <p class="juegosmesa__title">Minecraft</p>
                        <p class="juegosmesa__descricion">Minecraft es un videojuego de construcción, de tipo «mundo
                            abierto» o sandbox creado originalmente por el sueco Markus Persson, ​ y posteriormente
                            desarrollado por su empresa, Mojang Studios.</p>
                        <input type="button" value="Ir al juego" class="videojuegos__boton">
                    </div>
                    <div class="juegosmesa__card">
                        <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2020/02/cyberpunk-2077-portada-ficha-01-1877357.jpg?itok=QnLLgl2D"
                            alt="" class="juegosmesa__img">
                        <p class="juegosmesa__title">Cyberpunk 2077</p>
                        <p class="juegosmesa__descricion">Adéntrate en el mundo de Cyberpunk 2077, un RPG de mundo
                            abierto ambientado en un futuro siniestro de CD PROJEKT RED.</p>
                        <input type="button" value="Ir al juego" class="videojuegos__boton">
                    </div>
                    <div class="juegosmesa__card">
                        <img src="https://los40es00.epimg.net/los40/imagenes/2020/07/23/videojuegos/1595516362_784660_1595516856_noticia_normal_amp.jpg"
                            alt="" class="juegosmesa__img">
                        <p class="juegosmesa__title">FIFA 21</p>
                        <p class="juegosmesa__descricion">FIFA 21 es un videojuego de simulación de fútbol del año 2020
                            disponible para Microsoft Windows, PlayStation 4, Xbox One y Nintendo Switch </p>
                        <input type="button" value="Ir al juego" class="videojuegos__boton">
                    </div>
                </div>
            </div>
        </div>
        <%- include ../layout/frontOffice/footer.ejs %>